* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
h5,
h6 {
  		font-weight: 400;}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
body {
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 500px;
  display: flex;
}
.left {
  width: 450px;
  border-radius: 20px 0 0 20px;
  position: relative;

  background: url(./images/bg-pattern-desktop.svg) no-repeat center;
  background-position: -575px -300px;
  background-color: white;
}
.left::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./images/illustration-woman-online-desktop.svg) no-repeat
    center;
  background-position: -80px 45%;
  z-index: 0;
}
.box {
  position: absolute;
  left: -93px;
  top: 200px;
}
.right {
  width: 450px;
  background-color: white;
  border-radius: 0 20px 20px 0;
  padding: 50px 80px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer {
  margin-top: 15px;
  display: none;
}
.ask {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 375px) {
  section {
    width: 350px;
    height: 650px;
    flex-direction: column;
  }
  .box {
    display: none;
  }
  .left {
    background-image: url(./images/bg-pattern-mobile.svg);
    background-position: top;
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 350px;
    height: 130px;
  }
  .left::before {
    display: "";
    background: url(./images/illustration-woman-online-mobile.svg) no-repeat top;
    top: -105px;
    left: -15px;
    height: 196px;
  }
  .right {
    width: 350px;
    border-radius: 0 0 10px 10px;
    padding: 70px 20px;
  }
  h1 {
    text-align: center;
  }
  .ask {
    height: 70px;
  }
}
